
.loginCard{
    align-self: center;
    width: 500;
    height: 500;
    background-color: darkslategray;
    gap: 1rem;
    align-items: center;
}

.loginCardButtons{
    gap: 0.5rem;
}

.screenContainer{
    margin: 1rem;
    text-align: center;
}

.navigation{
    background-color:darkslategray;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navigation ul{
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navigation a{
    color: inherit;
    text-decoration: none;
    align-items: center;
    padding: 0.5rem;
}

.navigation li.active{
    background-color: aliceblue;
    color: darkslategray;
}

.navigation li.hover{
    background-color: aliceblue;
    color: darkslategray;
}

.shoppingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.shoppingList{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: darkslategray;
    padding: 1rem;
}

.shoppingCart{
    background-color: darkslategray;
    min-height: 20rem;
    padding: 1rem;
}

.itemCard{
    padding: 0.5rem;
    background-color: azure;
}

.itemInfo{
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.itemButtons{
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}